google-api-python-client
google-auth-oauthlib
aiogoogle
aiosqlite
fastapi
uvicorn[standard]
APScheduler~=3.10.4 # Pinned to stable 3.x series, as 4.x is in pre-release
google-generativeai
python-json-logger
pytest
pytest-asyncio
pytest-mock
httpx
flake8
pydantic-settings
